<nav class="navbar navbar-expand-md bg-success navbar-dark">
    <img src="/images/logo.png" alt="logo" width="150" height="150">
    <div class="container-fluid">
        <a class="navbar-brand">Servicio Andaluz</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/PersonaMayor">Persona Mayor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Voluntariado">Voluntariado</a>
                </li>
            </ul>
        </div>
    </div>
</nav>